.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.CloseBtn {
  position: absolute;
  top: 2%;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms linear;
  outline: none;
  background-image: url('./closeBtn.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.CloseBtn:hover,
.CloseBtn:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

/*
.lightbox__button {
  transition: background-color $transition-duration $transition-timing;
  
}
*/ ;
